In [4]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import drive
drive.mount('/content/drive') #import file from gg drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Text/Tweets_sentiment_16M.csv')
df

,target,id,date,flag,user,text,text2,text3,hashtags,tokens,tokens_remove_stopwords,length_1,num_hashtags,sentiment_score
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - awww, t...",awww thats a bummer you shoulda got david carr...,thats a bummer you got carr of third day to do...,[],"['thats', 'a', 'bummer', 'you', 'got', 'carr',...","['thats', 'bummer', 'got', 'carr', 'third', 'd...",6,0,3
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his facebook by ...,is upset that he cant update his facebook by t...,is upset that he cant update his by it and mig...,[],"['is', 'upset', 'that', 'he', 'cant', 'update'...","['upset', 'cant', 'update', 'might', 'cry', 'r...",10,0,1
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times for the ball. man...,i dived many times for the ball managed to sav...,i many times for the ball to save the rest go ...,[],"['i', 'many', 'times', 'for', 'the', 'ball', '...","['many', 'times', 'ball', 'save', 'rest', 'go']",6,0,2
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire,my whole body itchy and like its on fire,[],"['my', 'whole', 'body', 'itchy', 'and', 'like'...","['whole', 'body', 'itchy', 'like', 'fire']",5,0,2
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",no its not behaving at all im mad why am i her...,no its not at all mad why am i here because i ...,[],"['no', 'its', 'not', 'at', 'all', 'mad', 'why'...","['mad', 'cant', 'see']",3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1583221,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,just woke up. having no school is the best fee...,just woke up having no school is the best feel...,just woke up no school is the best feeling ever,[],"['just', 'woke', 'up', 'no', 'school', 'is', '...","['woke', 'school', 'best', 'feeling', 'ever']",5,0,5
1583222,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdb.com - very cool to hear old walt interv...,thewdbcom very cool to hear old walt interviews,very cool to hear old walt,[],"['very', 'cool', 'to', 'hear', 'old', 'walt']","['cool', 'hear', 'old', 'walt']",4,0,5
1583223,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,are you ready for your mojo makeover? ask me f...,are you ready for your mojo makeover ask me fo...,are you ready for your mojo ask me for,[],"['are', 'you', 'ready', 'for', 'your', 'mojo',...","['ready', 'mojo', 'ask']",3,0,5
1583224,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy 38th birthday to my boo of alll time!!! ...,happy 38th birthday to my boo of alll time tup...,happy birthday to my boo of time,[],"['happy', 'birthday', 'to', 'my', 'boo', 'of',...","['happy', 'birthday', 'boo', 'time']",4,0,5
1583225,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @thenspcc @sparkscharity...,happy,happy,['charitytuesday'],['happy'],['happy'],1,1,5

In [8]:
filtered_df = df[df['target'] == 2] #เช็ตเจ๋ยๆว่ามันไม่มี2จริงมั้ย
filtered_df

Empty DataFrame
Columns: [target, id, date, flag, user, text, text2, text3, hashtags, tokens, tokens_remove_stopwords, length_1, num_hashtags, sentiment_score]
Index: []

In [10]:
df['score'] = df['sentiment_score'].replace([1, 2, 3], 0) #แทนที่การทำนายค่าของเซนติเม้นของคะแนน 1,2,3 เป็น 0
#เนื่องจากไม่มี2
df['score'] = df['score'].replace([4, 5], 4) #แทนที่การทำนายค่าของเซนติเม้นของคะแนน 4,5 เป็น 4
df

,target,id,date,flag,user,text,text2,text3,hashtags,tokens,tokens_remove_stopwords,length_1,num_hashtags,sentiment_score,score
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - awww, t...",awww thats a bummer you shoulda got david carr...,thats a bummer you got carr of third day to do...,[],"['thats', 'a', 'bummer', 'you', 'got', 'carr',...","['thats', 'bummer', 'got', 'carr', 'third', 'd...",6,0,3,0
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his facebook by ...,is upset that he cant update his facebook by t...,is upset that he cant update his by it and mig...,[],"['is', 'upset', 'that', 'he', 'cant', 'update'...","['upset', 'cant', 'update', 'might', 'cry', 'r...",10,0,1,0
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times for the ball. man...,i dived many times for the ball managed to sav...,i many times for the ball to save the rest go ...,[],"['i', 'many', 'times', 'for', 'the', 'ball', '...","['many', 'times', 'ball', 'save', 'rest', 'go']",6,0,2,0
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire,my whole body itchy and like its on fire,[],"['my', 'whole', 'body', 'itchy', 'and', 'like'...","['whole', 'body', 'itchy', 'like', 'fire']",5,0,2,0
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",no its not behaving at all im mad why am i her...,no its not at all mad why am i here because i ...,[],"['no', 'its', 'not', 'at', 'all', 'mad', 'why'...","['mad', 'cant', 'see']",3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1583221,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,just woke up. having no school is the best fee...,just woke up having no school is the best feel...,just woke up no school is the best feeling ever,[],"['just', 'woke', 'up', 'no', 'school', 'is', '...","['woke', 'school', 'best', 'feeling', 'ever']",5,0,5,4
1583222,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdb.com - very cool to hear old walt interv...,thewdbcom very cool to hear old walt interviews,very cool to hear old walt,[],"['very', 'cool', 'to', 'hear', 'old', 'walt']","['cool', 'hear', 'old', 'walt']",4,0,5,4
1583223,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,are you ready for your mojo makeover? ask me f...,are you ready for your mojo makeover ask me fo...,are you ready for your mojo ask me for,[],"['are', 'you', 'ready', 'for', 'your', 'mojo',...","['ready', 'mojo', 'ask']",3,0,5,4
1583224,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy 38th birthday to my boo of alll time!!! ...,happy 38th birthday to my boo of alll time tup...,happy birthday to my boo of time,[],"['happy', 'birthday', 'to', 'my', 'boo', 'of',...","['happy', 'birthday', 'boo', 'time']",4,0,5,4
1583225,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @thenspcc @sparkscharity...,happy,happy,['charitytuesday'],['happy'],['happy'],1,1,5,4

In [12]:
filtered_df = df[df['score'].isin([1, 3, 5])] #แค่ดูว่ามันถูกแทนที่ไปจริงมั้ย
filtered_df

Empty DataFrame
Columns: [target, id, date, flag, user, text, text2, text3, hashtags, tokens, tokens_remove_stopwords, length_1, num_hashtags, sentiment_score, score]
Index: []

In [14]:
matches = (df['target'] == df['score']).sum() #เปรียบเทียบค่าในcolum target and score
total_rows = len(df)
percentage = (matches / total_rows) * 100 #เอามาหาค่าเฉลี่ยความต่างกันของข้อมูล
percentage

68.0237060280718

In [15]:
different_values = df.loc[df['target'] != df['score'], ['text2', 'target', 'score']] #เอาค่าที่มันต่างกันออกมาให้ดู
different_values

                                                     text2  target  score
6                                               need a hug       0      4
7        hey long time no see yes rains a bit only a bi...       0      4
10                  spring break in plain city its snowing       0      4
11                                i just repierced my ears       0      4
15       i wish i got to watch it with you i miss you a...       0      4
...                                                    ...     ...    ...
1583207       jo jen by nemuselo zrovna t holce ael co nic       4      0
1583212  if ur the lead singer in a band beware falling...       4      0
1583213                            too much ads on my blog       4      0
1583217                                wooooo xbox is back       4      0
1583220  yeah that does work better than just waiting f...       4      0

[506257 rows x 3 columns]